# Гарантированно исключаем ВСЕ тяжёлые артефакты по шаблону
**/*.pt
**/*.pth
**/*.h5
**/*.zip
**/*.tar
**/*.tar.gz
**/*.so
**/*.pyd

# Исключаем все возможные места с данными и кэшами
data/
models/
logs/
notebooks/
__pycache__/
*.py[cod]
.pytest_cache/
build/
dist/
.ipynb_checkpoints/

# Среды и системные файлы
venv/
.venv/
env/
.git/
.idea/
.vscode/
*.iml

# Служебные файлы Docker (чтобы не копировать самих себя)
Dockerfile*
docker-compose*
.dockerignore
.dockerenv

# Временные файлы ОС
.DS_Store
Thumbs.db