# requirements-light.txt
# CPU версия PyTorch (вместо 1.7 ГБ будет ~300 МБ)
torch==2.0.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.15.2 --index-url https://download.pytorch.org/whl/cpu

# Headless OpenCV (без GUI и PyQt5)
opencv-python-headless==4.8.1.78

# Основные для ML
numpy==1.24.4
scipy==1.11.4
scikit-learn==1.3.2
pandas==2.1.4
matplotlib==3.8.2

# Утилиты
tqdm==4.66.1
pillow==10.1.0
pyqt5==5.15